.card-container {
    width: 233px;
    background-color: rgb(133, 133, 133); 
    padding: 20px;    
    margin: 15px;
    text-align: center;
}
.card-container:hover{
    box-shadow: 2px 2px 10px rgb(99, 99, 99);
}

.post-title{
    color: aliceblue;
    text-transform: capitalize;
}


